* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

/* navbar */
.logo {
    padding: 0px 20px 0px 0px;
    font-size: 20px;
    font-weight: 800;
    float: left;
    color: palevioletred;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: left;
    font-size: 18px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(117, 117, 117);
    font-weight: 500;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: palevioletred;
    font-weight: bold;
    
}

/* button */
.mt-20 {
    margin-top: 20px;
}

.display-1 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.btn-primary {
    color: #fff;
    background-color: palevioletred;
    font-weight: 600;
}
  
.btn-primary:hover {
    background-color: palevioletred;
}
  
.color-primary {
    color: palevioletred;
}
  
.d-flex {
    display: flex;
}
  
.align-center {
    align-items: center;
}

/* justify-content */
.justify-content-space-between {
    justify-content: space-between;
}
  
.justify-content-start {
    justify-content: start;
}
  
.container-fluid {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    background-size: cover;
}
  
.hero .container-fluid {
    min-height: 650px;
    padding: 5rem 13rem;
    color: #4a4a4a;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* .hero .image-cover {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 1000px;
} */
  
.hero img {
    width: 100%;
}
  
.hero .desc {
    z-index: 99;
}

.desc p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

/* homepage about me */
.about-1 {
    width: 100%;
    min-height: 500px;
    background-color: #ffffff;
    color: #4a4a4a;
}

.about-1 .container {
    display: flex;
    justify-content: center;
    padding: 5rem 13rem;
    font-size: 22px;
}

.color-primary-1 {
    color: palevioletred;
    font-weight: 500;
    font-size: 24px;
}
  
.about-1 .desc {
    flex-grow: 2;
    padding: 0 13rem;
}
  
.desc p {
    line-height: 30px;
}

/* about */
.about {
    font-size: 24px;
    width: 100%;
    min-height: 500px;
    background-color: #f5f5f5;
    color: #4a4a4a;
}

.container-about {
    padding: 3rem 13rem 2rem 13rem;
}

.display-2 {
    font-size: 30px;
    font-weight: 400;
}

.color-primary2 {
    color: palevioletred;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 0 13rem;
    flex-wrap: nowrap;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile > img {
    position: static;
    width: 25%;
    border-radius: 100%;
}

.content {
    text-align: justify;
    line-height: 30px;
    padding: 2rem 0 5rem 0;
    font-size: 20px;
}

.intro {
    color: palevioletred;
    font-size: 20px;
    font-weight: bold;
}


#copyright {
    text-align: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
    margin: 0;
    color: palevioletred;
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 18px;
}